		section#header {
			min-height: 600px;
			padding: 9px 80px;
			color:white;
			background: url('./../img/header.png');
			background-repeat: no-repeat;
		    background-position: center center;
		    background-size:cover; 
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
			div.menu {
				div.logo {
					display: inline-block;
					color:#1A1F33;
				span {
					font-size: 48px;
				}
				}
				nav {
					display: inline-block;
					float:right;
    				margin-top: 27px;
					ul {

						li {
							display: inline-block;
							list-style: none;
							a {
								padding:4px 14px;
								width:100%;
								font-size: 14px;
							}
							&.club {
								
								a {
									background: black;
									border-radius: 20px;
								}
							}
							&.login {
								
								a {
									background: white;
									border-radius: 20px;
									color:#AE4815;
								}
							}
							.mobile_icon {
						    padding: 5px 10px;
    						cursor: pointer;
							}
						}
					}
				}
			}
			div.hero {
				width: 80%;
				margin: 14% 10%;
				text-align: center;
				div.hero_container {
					div.light-hero {
						font-size:24px;
					    color: #FFDDDD;
					    font-weight: 100;
					}
					div.main-hero-content {
					    font-size: 65px;
					    line-height: 67px;
					    font-weight: 100;
					    color: white;
					    font-family: initial;
					}
					div.button-container {
						button {
						    background-color: #1A1F33;
						    border-radius: 20px;
						    border: 1px solid #1A1F33;
						    padding: 8px 25px;
						    margin-top: 15px;
						    font-size: 14px;
						    color: #D8D8D8;
						}
					}
				}
			}
		}
@media screen and (min-width:220px) and (max-width:360px) {
	section#header {
			min-height: 480px;
    padding: 16px 10px;
			div.menu {
				div.logo {
					margin-left: 10px;
				span {
					font-size: 34px;
				}
				}
				nav {
					    margin-top: 14px;
    margin-right: 20px;
					ul {

						li {
							display: none;
							a {
								
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
								display: inline-block;
							}
						}
					}
				}
			}
			div.hero {
				    width: 90%;
    margin: 50px 5%;
				div.hero_container {
					div.light-hero {
						font-size: 20px;
					}
					div.main-hero-content {
					    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}	
@media (min-width:360px) and (max-width:550px){
	section#header {
			min-height: 480px;
    padding: 16px 10px;
			div.menu {
				div.logo {
					margin-left: 10px;
				span {
					font-size: 50px;
				}
				}
				nav {
					    margin-top: 14px;
    margin-right: 20px;
					ul {

						li {
							display: none;
							a {
								
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
								display: inline-block;
								font-size: 30px;
    						margin-top: 6px;
							}
						}
					}
				}
			}
			div.hero {
				    width: 90%;
    margin: 50px 5%;
				div.hero_container {
					div.light-hero {
						font-size: 20px;
					}
					div.main-hero-content {
					        font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}	
@media (min-width:550px)  and (max-width:769px){
	section#header {
			min-height: 480px;
    padding: 16px 10px;
			div.menu {
				div.logo {
					margin-left: 10px;
				span {
					font-size: 50px;
				}
				}
				nav {
					    margin-top: 14px;
    margin-right: 20px;
					ul {

						li {
							display: none;
							a {
								
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
								display: inline-block;
								font-size: 30px;
    						margin-top: 6px;
							}
						}
					}
				}
			}
			div.hero {
				    width: 90%;
    margin: 120px 5%;
				div.hero_container {
					div.light-hero {
						font-size: 20px;
					}
					div.main-hero-content {
					        font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}	
@media (min-width:769px) and (max-width:1000px) {
	section#header {
			min-height: 600px;
    padding: 16px 10px;
			div.menu {
				div.logo {
					margin-left: 10px;
				span {
					font-size: 50px;
				}
				}
				nav {
    margin-right: 20px;
    margin-top: 27px;
					ul {

						li {
							display: inline-block;
							a {
								
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
								display: none;
								font-size: 30px;
    						margin-top: 6px;
							}
						}
					}
				}
			}
			div.hero {
				    width: 90%;
    margin: 120px 5%;
				div.hero_container {
					div.light-hero {
						font-size: 20px;
					}
					div.main-hero-content {
					        font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}	
@media (min-width:1000px) {
	section#header {
			
			div.menu {
				div.logo {
					
				span {
					
				}
				}
				nav {
					
					ul {

						li {
							
							a {
								
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
								display: none;
							}
						}
					}
				}
			}
			div.hero {
				
				div.hero_container {
					div.light-hero {
						
					}
					div.main-hero-content {
					    
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}
@media (min-width:1255px) {
section#header {
			
			div.menu {
				div.logo {
					
				span {
					
				}
				}
				nav {
					
					ul {

						li {
							
							a {
								font-size: 16px;
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
display: none;
							}
						}
					}
				}
			}
			div.hero {
				
				div.hero_container {
					div.light-hero {
						
					}
					div.main-hero-content {
					    
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}
@media (min-width:1450px) {
section#header {
			
			div.menu {
				div.logo {
					
				span {
					
				}
				}
				nav {
					
					ul {

						li {
							
							a {
							font-size: 16px;	
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
display: none;
							}
						}
					}
				}
			}
			div.hero {
				
				div.hero_container {
					div.light-hero {
						
					}
					div.main-hero-content {
					    
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}		
@media (min-width:1550px) {
section#header {
			
			div.menu {
				div.logo {
					
				span {
					
				}
				}
				nav {
					
					ul {

						li {
							
							a {
							font-size: 16px;
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
display: none;
							}
						}
					}
				}
			}
			div.hero {
				
				div.hero_container {
					div.light-hero {
						
					}
					div.main-hero-content {
					    
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}  
@media (min-width:1750px) {
section#header {
			
			div.menu {
				div.logo {
					
				span {
					
				}
				}
				nav {
					
					ul {

						li {
							
							a {
								font-size: 16px;
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
display: none;
							}
						}
					}
				}
			}
			div.hero {
				
				div.hero_container {
					div.light-hero {
						
					}
					div.main-hero-content {
					    
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}
}  
/*

@media (min-width:220px) and (max-width:360px) {

}	
@media (min-width:360px) and (max-width:550px) {
	
}	
@media (min-width:550px) and (max-width:768px) {
	
}	
@media (min-width:768px) and (max-width:1000px) {
	
}	
@media (min-width:1000px) and (max-width:1255px) {
	
}
@media (min-width:1255px) and (max-width:1450px) {

}
@media (min-width:1450px) and (max-width:1550px) {

}		
@media (min-width:1550px) and (max-width:1750px) {

}  
@media (min-width:1750px) {

}  
//start here
section#header {
			
			div.menu {
				div.logo {
					
				span {
					
				}
				}
				nav {
					
					ul {

						li {
							
							a {
								
							}
							&.club {
								
								a {
									
								}
							}
							&.login {
								
								a {
									
								}
							}
							&.mobile_icon {
		
							}
						}
					}
				}
			}
			div.hero {
				
				div.hero_container {
					div.light-hero {
						
					}
					div.main-hero-content {
					    
					}
					div.button-container {
						button {
						    
						}
					}
				}
			}
		}

		//end here
*/