body {
	margin:0;
	padding: 0;
	ul {
		margin:0;
		padding: 0;
		li{
			list-style: none;
			display: inline-block;
		}
	}
	button {
		cursor: pointer;
	}
	a {
		text-decoration: none;
		color:white;
	}
	div#main {
		section#header {
			min-height: 600px;
			background:red;
			padding: 9px 80px;
			color:white;
			background: url('../img/header.png');
			background-repeat: no-repeat;
   background-position: center; 
			div.menu {
				div.logo {
					display: inline-block;
					color:#1A1F33;
				span {
					font-size: 48px;
				}
				}
				nav {
					display: inline-block;
					float:right;
    	margin-top: 27px;
					ul {

						li {
							display: inline-block;
							list-style: none;
							a {
								padding:4px 14px;
								width:100%;
								font-size: 14px;
							}
							&.club {
								
								a {
									background: black;
									border-radius: 20px;
								}
							}
							&.login {
								
								a {
									background: white;
									border-radius: 20px;
									color:#AE4815;
								}
							}
						}
					}
				}
			}
			div.hero {
				width: 80%;
				margin: 14% 10%;
				text-align: center;
				div.hero_container {
					div.light-hero {
						font-size:36px;
						color:white;
		    font-weight: 100;
   			font-family: sans-serif;
					}
					div.main-hero-content {
						font-size: 75px;
						color:white;
					}
					div.button-container {
						button {
			    background-color: #1A1F33;
			    border-radius: 20px;
			    border: 1px solid #1A1F33;
			    padding: 9px 25px;
			    margin-top: 15px;
			    font-size: 18px;
			    color: #D8D8D8;
						}
					}
				}
			}
		}
	}
}